{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript"
  ]
}